
/************************/
/*	   General		*/
/* #region **************/

:root {
	/* Sizing */
	--margin-navbar-entry: 1.2em;
	--padding-vertical-navbar-entry: 0.6em;
	--padding-horizontal-navbar-entry: 6vw;
	--radius-navbar-entry: 1em;

	--padding-footer: 3em 2em;
	--padding-footer-contact-icon: 1em;

	--padding-card: 1.5em 1.5em;
	--padding-card-popup: 1.5em;
	--radius-card: 1.8em;

	--margin-hr: 2em;
	--width-hr: 90%;

	--gap-grid: min(1.5em, 3vw);

	/* Animations */
	--transition-card: 0.4s;
	--translate-card-hover-x: 0vh;
	--translate-card-hover-y: -1vh;
	--translate-card-hover: var(--translate-card-hover-x) var(--translate-card-hover-y);

	--transition-link-hover: 0.2s;

	--dialog-popin-begin-scale: 0.6;
	--dialog-popin-show-duration: 0.3s;
	--dialog-popin-hide-duration: 0.2s;

	/* Colours */
	--colour-background: white;
	--colour-text-main: rgb(107, 107, 107);
	--colour-text-light: #606060;
	--colour-text-link: var(--colour-text-light);

	--colour-card-light-background: #F6F6F6;
	--colour-card-medium-background: #D9D9D9;
	--colour-card-dark-background: #CFCFCF;
	--colour-card-selected-background: #B8B8B8;

	--colour-card-purple-background: #ffddf1;
	--colour-card-green-background: #c4ffcf;
	--colour-card-orange-background: #fbe7d3;
	--colour-card-blue-background: #ccd9ff;

	--colour-card-shadow: #7e7e7e8e;

	--colour-navbar-font: var(--colour-text-main);
	--colour-navbar-background: var(--colour-card-medium-background);
	--colour-navbar-entry-background: var(--colour-card-dark-background);
	--colour-navbar-entry-selected-background: var(--colour-card-selected-background);

	--colour-footer-font: var(--colour-text-main);
	--colour-footer-background: var(--colour-card-light-background);

	/* Font */
	--font-family: "Lato", sans-serif;

	--font-heading-size: 4em;

	--font-h1-weight: 600;
	--font-h1-size: 1.6em;

	--font-dialog-h1-size: 2em;

	--font-h2-weight: 500;
	--font-h2-size: 1.5em;

	/* Effects */
	--backdrop-blur: blur(8px);
	--shadow-dist-card-title-x: 0.05em;
	--shadow-dist-card-title-y: 0.05em;
	--shadow-blur-card-title: 0.05em;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	
	font-family: var(--font-family);
	color: var(--colour-text-main);

	background-color: var(--colour-background);
}

main {

	flex-grow: 1;
	padding: 7.5vh 20vw;
	box-sizing: border-box;
	
	transition-property: opacity, transform;
	transition-duration: 0.3s;

	grid-row-start: 1;
	grid-column-start: 1;

	grid-template-columns: 1fr;

	animation-name: main-fadein;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-play-state: running;

}

body.popup-cards > main {
	padding: 7.5vh 15vw;
}

code {
	font-family: "Consolas", monospace, monospace;
}

@keyframes main-fadein {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {}
}

main.fadeout {
	transform: scale(0.9);
	opacity: 0;
}

address {
	font-style: normal;
}

h1, h2, h3 {
	margin: 0 0 .5em 0;
}

h1 {
	font-weight: var(--font-h1-weight);
	font-size: var(--font-h1-size);
}

h2 {
	font-weight: var(--font-h2-weight);
	font-size: var(--font-h2-size);
}

hr {
	width: var(--width-hr);
	margin: var(--margin-hr) auto;

	border: 0.5px solid var(--colour-card-medium-background);
}

a {
	text-decoration: none;
	color: var(--colour-text-link);
}

.grid {
	display: flex;
	align-items: stretch;
	gap: var(--gap-grid);
}

.grid > * {
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
}

body.popup-cards .grid > * {
	width: unset;
}

.grid.flow {
	flex-wrap: wrap;
}

.grid.horizontal {
	flex-direction: row;
}

.grid.vertical {
	flex-direction: column;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-heading {
	width: 100%;
	height: 60vh;
}

/*	  #endregion	  */

/************************/
/*		Navbar		*/
/* #region **************/

#navbar {
	display: flex;

	background-color: var(--colour-navbar-background);
}

#navbar-entries {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 70%;
	min-width: fit-content;
}

#navbar-entries a {
	display: block;
	margin: calc(var(--margin-navbar-entry) - var(--padding-vertical-navbar-entry));
	padding: var(--padding-vertical-navbar-entry) var(--padding-horizontal-navbar-entry);
	border-radius: var(--radius-navbar-entry);

	text-decoration: none;
	color: var(--colour-navbar-font);
	background-color: var(--colour-navbar-entry-background);
}

#navbar-entries a.selected {
	background-color: var(--colour-navbar-entry-selected-background);
}

/*	  #endregion	  */

/************************/
/*		Cards		 */
/* #region **************/

.card {

	display: block;
	padding: var(--padding-card);

	border-radius: var(--radius-card);

	transition-duration: var(--transition-card);
	transition-property: translate, box-shadow;

	color: var(--colour-text-main);
}

.card.light {
	background-color: var(--colour-card-light-background);
}

.card.medium {
	background-color: var(--colour-card-medium-background);
}

.card.dark {
	background-color: var(--colour-card-dark-background);
}

.card.purple {
	background-color: var(--colour-card-purple-background);
}

.card.blue {
	background-color: var(--colour-card-blue-background);
}

.card.green {
	background-color: var(--colour-card-green-background);
}

.card.orange {
	background-color: var(--colour-card-orange-background);
}

.card.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	user-select: none;
	
	color: var(--colour-text-light);
}

.card.animate:hover {
	translate: var(--translate-card-hover);
	box-shadow: calc(var(--translate-card-hover-x) * -1) calc(var(--translate-card-hover-y) * -1) 15px var(--colour-card-dark-background);
}

.card.heading h1 {
	font-size: var(--font-heading-size);
}

/* Show a clickable cursor on cards which have content but are not expanded. */
body.popup-cards :not(dialog) > .card:has(section.content) {
	cursor: pointer;
}

body.popup-cards .card .content {
	display: none;
}

button.card {
	border: none;
}

.card h1 {
	text-shadow: var(--shadow-dist-card-title-x) var(--shadow-dist-card-title-y) var(--shadow-blur-card-title) var(--colour-card-shadow);
}

.card h1 > * {
	vertical-align: middle;
}

.card h1 > img {
	height: var(--font-h1-size);
	filter: drop-shadow(var(--shadow-dist-card-title-x) var(--shadow-dist-card-title-y) var(--shadow-blur-card-title) var(--colour-card-shadow));
}

.card > .blurb {
	font-style: italic;
}

.card a {

	transition: var(--transition-link-hover);
	transition-property: box-shadow;

	box-shadow: 0 1px var(--colour-text-link);

}

.card a:hover {
	box-shadow: 0 0.1em var(--colour-text-link);
}

/*	  #endregion	  */

/************************/
/*		Misc.		 */
/* #region **************/

ul.nodecor {
	list-style-type: none;
}

/*	  #endregion	  */

/************************/
/*		Footer		*/
/* #region **************/


footer {
	display: block;

	padding: var(--padding-footer);

	background-color: var(--colour-footer-background);
	color: var(--colour-footer-font);
}

#contact-methods li > a {
	display: inline-flex;
	align-items: center;
	column-gap: var(--padding-footer-contact-icon);
}

#contact-methods .fa {
	font-size: var(--font-h1-size);
}

/*	  #endregion	  */

/************************/
/*	 Page Common	  */
/* #region **************/


.card.heading {
	width: 100%;
}


/*	  #endregion	  */

/************************/
/*		Popup		 */
/* #region **************/

@keyframes dialog-popin {
	0% { scale: var(--dialog-popin-begin-scale); opacity: 0; }
	100% { scale: 1; opacity: 1; }
}

@keyframes dialog-background-popin {
	0% { backdrop-filter: blur(0px); }
	100% { backdrop-filter: blur(2px); }
}

dialog {
	border: none;
	background: none;

	width: 70%;
}

dialog.animate {
	animation: dialog-popin ease;
	animation-duration: var(--dialog-popin-show-duration);
}

dialog.hidden {
	animation-direction: reverse;
	animation-duration: var(--dialog-popin-hide-duration);
}

dialog .card {
	--translate-card-hover: none;
	--padding-card: var(--padding-card-popup);

	box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
	animation: dialog-background-popin 0.3s ease-out;
	backdrop-filter: blur(2px);
}

dialog > .card > h1 {
	font-size: var(--font-dialog-h1-size);
}

body.popup-cards dialog .card .content {
	display: block;
}

@media only screen and (max-width: 800px) {
	main {
		padding: 7.5vh 5vw;
	}
}

@media only screen and (min-width: 600px) {
	dialog {
		max-width: 100ch;
	}
}

/*	  #endregion	  */

/* Disable some animations if the user prefers :) */
@media screen and (prefers-reduced-motion: reduce) {
	
	main {
		animation: none;
	}

	.card.animate:hover {
		translate: none;
	}
	
}
